*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.container{
    width:1100px;
    margin:0 auto;
}


.image{
    width:100%;
    height:300px;
}


.row1{
    display:flex;
    flex-wrap:wrap;
    padding:30px;
    gap:20px;
    align-items:center;
}

.row1 img{
    width:300px;
}

.row2{
    padding:30px;
}


.heading{
    margin-bottom:20px;
}


.row2{
    display:flex;
    align-items:center;
    gap:20px;
}

.row2 h1{
    width:100%;
}


.cards img{
    width:200px;
    height:200px;
}
 

.inner{
    display:flex;
    flex-wrap:wrap;
}

.card{
    border:2px solid black;
    background-color:rgb(239, 204, 160);
    padding:20px;
    margin:20px;
}