* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #edf2f8;
  padding: 50px;
}


.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card1 {
  grid-column: 1 / 3;
  background: #733fc8;
  color: white;
}

.card2 {
  grid-column: 3 / 4;
  background: #49556b;
  color: white;
}

.card3 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  background: white;
}

.card4 {
  grid-column: 1 / 2;
  background: white;
}

.card5 {
  grid-column: 2 / 4;
  background: #18202d;
  color: white;
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}