*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav ul{
     display: flex;
     list-style-type: none;
     gap: 20px;
}


main{
    background-color: #72d6b3;
    text-align: center;
    padding: 60px 20px;
}

main img{
     border-radius: 50%;
     width: 200px;
     height: 200px;
     object-fit: cover;
     margin-bottom: 20px;
}

main h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 80px;
    gap: 60px;

    flex-wrap: nowrap;   
}

.cards{
    flex: 1;          
    min-width: 0;    
}

.cards h2{
    margin-bottom: 15px;
    font-size: 28px;
}

.cards img{
    display: block;
    margin: 20px auto;
    width: 200px;
}