*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}
nav p{
    margin: 0;
    padding: 10px 0;
}
nav{
    background-color: white;
    color: rgb(243, 5, 5);
    padding-left: 20px;
}
main {
    background-color: rgb(0, 145, 255);
    width: 100%;
    min-height: 100vh;
    padding-left: 50px;
}
.content{
    max-width: 600px;
}
.birds{
    display: flex;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.birds img{
        width: 300px;
        height: 300px;
    
}
main h1{
    margin-top: 0;
    padding-top: 40px;
}
.row{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.cards{
    background-color: rgb(119, 97, 97);
    height: 200px;
    color: white;
    text-align: center;
    width: 260px;
    margin: 10px;
    padding: 20px;

}