* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f6fb;
    padding: 40px;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}


.card {
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}


.card h3 {
    font-size: 14px;
}

.verified {
    font-size: 12px;
    opacity: 0.7;
}

.card h2 {
    margin: 15px 0;
    font-size: 17px;
    font-weight: 600;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.85;
}

/* Layout Control Using nth-child */

/* 1st card - wide */
.card:nth-child(1) {
    grid-column: span 2;
    background-color: #6c5ce7;
    color: white;
}


.card:nth-child(2) {
    background-color: #2d3436;
    color: white;
}


.card:nth-child(3) {
    grid-row: span 2;
    background-color: #ffffff;
    color: #2d3436;
}


.card:nth-child(4) {
    background-color: #ffffff;
    color: #2d3436;
}

.card:nth-child(5) {
    grid-column: span 2;
    background-color: #1e272e;
    color: white;
}